* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

.App {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-color: #0d0d1d;
}

.main-content{
  padding: 30px;
}

.text-zone {
  color: white;
  font-size: 2rem;
  padding: 20px 50px;
  z-index: 10;
  position: relative;
}

/* -----------  CustomCursor.css --------------- */

/* .custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background: rgba(255, 0, 0, 0.504);
  border-radius: 50%;
  pointer-events: none;
  transform: translate3d(0, 0, 0);
  transition: transform 0.1s ease-out;
  z-index: 10000;
} */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background: rgb(255, 0, 0);
  border-radius: 50%;
  pointer-events: none;
  z-index: 10000;
  transition: transform 0.08s ease-out;
  mix-blend-mode: difference;
}

.cursor-border {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s ease-out;
}
